# Device instance names are filename stems from /etc/alpacahurd/devices.d.
[Unit]
Description=alpacahurd device %i
Documentation=https://github.com/mikefsq/alpacahurd
PartOf=alpacahurd.service
After=alpacahurd.service network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/alpacahurd -launch %i -config /etc/alpacahurd/hurd.json
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
# Exit 78 (EX_CONFIG) requires a configuration fix before retrying.
RestartPreventExitStatus=78
User=root
StateDirectory=alpacahurd
ConfigurationDirectory=alpacahurd

[Install]
WantedBy=multi-user.target
